
# Dependências
../node_modules/

/src/generated/prisma

# Variáveis de ambiente
.env

# Logs
*.log
logs/

# Build
dist/
build/

# Cache
.cache/

# Arquivos temporários
tmp/
temp/

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

expo-env.d.ts